HOSTNAME                   : MODEL                   : SERIAL NUMBER               : IOS VERSION               : IOS IMAGE

{{ ansible_net_hostname }} : {{ ansible_net_model }} : {{ ansible_net_serialnum }} : {{ ansible_net_version }} : {{ ansible_net_image }}



